/* styles/Details.css */

/* Styles for the container div of the user information page */
.user-information-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: start;
  height: auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  min-height: 100vh;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

/* Styles for the side navigation bar within the user information page */
.Details-side-navbar {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: white;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px);
  justify-content: flex-start;
}

/* Styles for individual items within the side navigation bar */
.info-item {
  border: 1px solid black;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  height: 10%;
  font-size: 20px;
}

/* Hover styles for the navigation items */
.info-item:hover {
  background-color: #15124c;
  color: white;
}

/* Styles for the last child of .info-item to remove margin-bottom */
.info-item:last-child {
  margin-bottom: 0;
}

/* Styles for the main content section */
.Details-main {
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: white;
  margin: 10px;
  padding: 10px;
  text-align: left;
  height: calc(100% - 40px);
}

/* Styles for the user information section */
.Details-user {
  border: 1px solid black;
}

/* Styles for the 'About Me' section */
.Details-about {
  border: none;
}

/* Styles for individual user information rows */
.Details-user-info {
  background-color: #d9d9d9; /* Grey background for user information rows */
  padding: 10px;
  margin: 5px 0;
}

/* Media query for responsiveness: adjusting layout for screens with max-width of 768px */
/*@media (max-width: 768px) {
    .user-information-page {
        grid-template-columns: 1fr;
    }
}*/

/* Styles for the button at the end of the user information section */
.Details-end {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

/* Styles for the 'Edit Details' button */
.Details-button {
  display: flex;
  background-color: #15124c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Details-button:hover {
  background-color: #8bb8e8;
}
