.footer {
    background-color: #8DC1FF;
    color: black;
    text-align: center;
    padding: 10px;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}


.footer h5 {
    margin-bottom: 0px;
}



