.footer {
    background-color: #8DC1FF;
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: 150;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.footer h5 {
    font-weight: 200;
    margin-bottom: 0px;
}