.footer {
    background-color: #8DC1FF;
    color: black;
    text-align: center;
    padding: 1%;
    font-weight: 350;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}


.footer h5 {
    font-weight: 350;
    margin-bottom: 0px;
}



