.home{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.home .topButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.home .topButtons button{
    margin: 20px;
    padding-top: 0px;
    padding-bottom: 0px; 
    padding-left: 20px;
    padding-right: 20px; 
    background-color: #558aff;
    color: white;
    border-radius: 10px;
    border-style: none;
}

.mainContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}