.home-div {
    display: fixed;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
}

.enterbuttons {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.blog {
    position: fixed;
    font-size: 225%;
    max-width: 20%;
    right: 80%;
    top: 52%;
}

.getstarted {
    position: fixed;
    right: 40%;
    top: 72%;
}

.applogo1 {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}




/* @media only screen and (max-width:1000px) {
.enterbuttons{
    position: fixed;
    right: 5%;
    top: 72%;

}

.blog{
    position: fixed;

    font-size: 100%;
    max-width: 20%;
    right:80%;
        top: 48%;
}

.getstarted{
    position: fixed;
    right:40%;
    top: 72%;
}


.applogo1{
    display: block;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    
    



}div{
    display: fixed;
    justify-content: center;
    align-items: center;
}
}

@media only screen and (max-width: 600px) {
    .navbar .rightSide a {
        display: none;
    }

    .navbar .rightSide {
        justify-content: flex-end;
        padding: 10px;
    }

    .navbar .leftSide {
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
    }
}

@media only screen and (min-width: 600px) {

    .navbar .rightSide {
        justify-content: flex-end;
        padding: 10px;
    }
} */