.navbar {
    background-color: #8DC1FF;
}
.navbar-brand{
    font-weight: 400;
}

.logo {
    margin-right: 3%;
}
    
.nav-link {
    font-weight: 350;
    color: black;
}

.navbtn {
    text-decoration: underline;
}


.navContent {
    margin-left: 3%;
    margin-right: 3%;
}

.navb2 {
    background-color: white;
    margin-bottom: 3%;
    margin-top: 1%;
}